/*
 * Copyright (c) 2024 MASSDRIVER EI (massdriver.space)
 * Copyright (c) 2018-2023 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "rntrpy_r4vn-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/lora/sx126x.h>

/ {
	model = "rNTRPY R4VN";
	compatible = "others,rntrpy-r4vn";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ieee802154 = &ieee802154;
	};

	/*
	 * Load switches gating the peripherals. They are left off at boot;
	 * the application enables a rail with regulator_enable() only while
	 * the peripheral behind it is in use, to preserve power.
	 */
	reg_5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "reg_5v";
		enable-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
	};

	reg_gps: regulator-gps {
		compatible = "regulator-fixed";
		regulator-name = "reg_gps";
		enable-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
	};

	reg_scd30: regulator-scd30 {
		compatible = "regulator-fixed";
		regulator-name = "reg_scd30";
		enable-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
	};

	board_controls {
		compatible = "rntrpy,r4vn-board-controls";

		gps_rst: gps_rst {
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			label = "GPS Reset";
		};

		bat_en1: bat_en1 {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "BQ24074 EN1";
		};

		bat_en2: bat_en2 {
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
			label = "BQ24074 EN2";
		};

		bat_pgood: bat_pgood {
			gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
			label = "BAT Power Good";
		};

		bat_charging: bat_charging {
			gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
			label = "BAT Charging";
		};

		fuel_alert: fuel_alert {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			label = "Fuel Gauge Alert";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "Power Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	led_strip: led_strip {
		compatible = "worldsemi,ws2812-gpio";
		label = "SK6812_STRIP";
		gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		chain-length = <5>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE
				 LED_COLOR_ID_WHITE>;
		status = "okay";
	};

	/*
	 * E-paper FPC (24-pin, SSD16xx panels) on SPIM2, write-only. The
	 * panel node is added by the application as a child of this bus;
	 * its BUSY line is P0.15 (busy-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>).
	 */
	epd_dbi: mipi-dbi-epd {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		dc-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	/* E-paper frontlight, always powered, 1 kHz PWM on P0.21 */
	pwmleds {
		compatible = "pwm-leds";

		frontlight: frontlight {
			pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
			label = "E-paper Frontlight";
		};
	};

	aliases {
		led-strip = &led_strip;
		button0 = &button0;
		sw0 = &button0;
		watchdog0 = &wdt0;
		accel0 = &bma400;
		gps-rst = &gps_rst;
		bat-en1 = &bat_en1;
		bat-en2 = &bat_en2;
		bat-pgood = &bat_pgood;
		bat-charging = &bat_charging;
		fuel-alert = &fuel_alert;
		frontlight = &frontlight;
		touch = &ft6336;
	};
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* USB-C CC1 sense (AIN2 / P0.04) */
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;
		zephyr,resolution = <12>;
	};

	/* USB-C CC2 sense (AIN3 / P0.05) */
	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN3>;
		zephyr,resolution = <12>;
	};
};

&gpiote {
	status = "okay";
};

&uicr {
	nfct-pins-as-gpios;
	gpio-as-nreset;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&ieee802154 {
	status = "okay";
};

/* I2C-1: BMA400 accel, VEML7700 light, MAX17048 fuel gauge, FT6336U touch */
&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	bma400: bma4xx@14 {
		compatible = "bosch,bma4xx";
		reg = <0x14>;
		int1-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
	};

	veml7700: veml7700@10 {
		compatible = "vishay,veml7700";
		reg = <0x10>;
	};

	max17048: max17048@36 {
		compatible = "maxim,max17048";
		reg = <0x36>;
	};

	/* E-paper touch panel; INT and RST are not connected, the driver polls. */
	ft6336: ft6336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

/* I2C-2: reserved for the SCD30 (no upstream driver yet) */
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi3 {
	compatible = "nordic,nrf-spim";
	rx-delay-supported;
	rx-delay = <2>;
	status = "okay";
	pinctrl-0 = <&lora_spi_pins>;
	pinctrl-1 = <&lora_spi_pins_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;

	lora: sx1262@0 {
		compatible = "semtech,sx1262";
		reg = <0>;
		spi-max-frequency = <1000000>;
		reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
		dio1-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		dio2-tx-enable;
		dio3-tcxo-voltage = <SX126X_DIO3_TCXO_1V8>;
		tcxo-power-startup-delay-ms = <5>;
		status = "okay";
	};
};

&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&epd_spi_pins>;
	pinctrl-1 = <&epd_spi_pins_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&gnss_uart_pins>;
	pinctrl-1 = <&gnss_uart_pins_sleep>;
	pinctrl-names = "default", "sleep";

	gnss: gnss-nmea-generic {
		compatible = "gnss-nmea-generic";
		status = "okay";
	};
};

zephyr_udc0: &usbd {
	status = "okay";
};
#include <../boards/common/usb/cdc_acm_serial.dtsi>
